
@model ZOI.BAL.Models.Slider

<style>
    .scrollmenu {
        display:flex;
        height:150px;
        overflow: auto;
        white-space: nowrap;
    }
    .values-detail {
        margin: 3.5rem -40px;
        margin-left: -80px;
        padding-right: 3.5rem;
        /*position: absolute;
        width: 50px;
         display: block; 
        margin: 26px -5px;*/
    }

    /*.subvalue {
        margin-left: 0px;
        font-size: 35px;
        color: cornflowerblue;
        margin-top: 0px;
    }*/
    .subvalue {
        margin-left: 110px;
        font-size: 46px;
        color: cornflowerblue;
        margin-top: 0px;
    }

    h1 {
        float: left;
        font-size: 17px;
        color: #161616;
        font-weight: 100;
    }
</style>
<div>
    @*@foreach (var item in Model.Details)
        {
            <Text>
            <h1 style="display:block;padding: 0px 20px;">
                @item.Header
            </h1><br/>
            <span class="values-detail">
                <b class="subvalue">@item.values<sub>@item.Subvalues</sub></b>
            </span>



        </Text>}*@

    @foreach (var item in Model.Details)
    {
        <Text>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h1 style="display:block;padding: 0px 20px;">
                @item.Header
            </h1><br /><br /><br />
            <span class="values-detail">
                <b class="subvalue"> @item.values<sub> @item.Subvalues</sub></b>
            </span>
        </div>
        </Text>
    }
</div>
